body {
  background-color: #00B4B5;
}

header {
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  float: left;
  max-height: 70px;
  margin: 10px;
  margin-left: 125px;
  margin-right: 50px;
}

.header-text {
  color: #545454;
  margin-left: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#intro-text {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 10px;
}



.form-control {
  margin-bottom: 7px;
}



.suggestions {
  background-color: #ECECEC;
}

#suggestion1 {
  margin-top: 5px;
  display: none;
}

#suggestion2 {
  margin-top: 5px;
  display: none;
}

#suggestion3 {
  margin-top: 5px;
  display: none;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #FFFFFF;
}

.quiz-again {
  text-align: center;
  display: none;
}



.page-padding {
  margin-bottom: 150px;
}

footer {
  height: 120px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #969696;
  /*background-image: none;
  background-repeat: repeat;*/
  background-attachment: scroll;
  background-position: 0%, 0%;
  text-align: center;
}

.footer-text {
  padding-top: 15px;
}
