body {
  background-color: #00B4B5;
}

header {
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  float: left;
  max-height: 70px;
  margin: 10px;
  margin-left: 125px;
  margin-right: 50px;
}

.header-text {
  margin-left: 50px;
}



.suggestions {
  background-color: #EEEEEE;
}

#suggestion1 {
  display: none;
}

#suggestion2 {
  display: none;
}

#suggestion3 {
  display: none;
}




.page-padding {
  margin-bottom: 150px;
}

footer {
  height: 120px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #969696;
  /*background-image: none;
  background-repeat: repeat;*/
  background-attachment: scroll;
  background-position: 0%, 0%;
}
